<!-- <mat-card *ngFor="let plan of fitnessPlans">
  <div class="content">
    <mat-card-title>{{ plan.name }}</mat-card-title>
    <mat-card-subtitle
      ><div class="stars">
        <p>
          Level:
          <fa-icon
            *ngFor="let i of [].constructor(plan.level); let index = index"
            [icon]="faStar"
          ></fa-icon>
        </p></div
    ></mat-card-subtitle>
    <mat-card-content>
      <p>{{ plan.description }}</p>
    </mat-card-content>
  </div>
  <img [src]="plan.imageUrl" alt="Description of image" />
</mat-card> -->
<div class="card-container">
  <mat-card class="plan-card" *ngFor="let plan of fitnessPlans">
    <mat-card-header>
      <mat-card-title>{{ plan.name }}</mat-card-title>
      <mat-card-subtitle
        ><div class="stars">
          <p>
            Level:
            <fa-icon
              *ngFor="let i of [].constructor(plan.level); let index = index"
              [icon]="faStar"
            ></fa-icon>
          </p></div
      ></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="plan.imageUrl" alt="Fitness plan image" />
    <mat-card-content>
      <p class="plan-description">
        <span class="description-text">{{ plan.description }}</span>
      </p>
    </mat-card-content>
  </mat-card>
  <button
    mat-raised-button
    color="primary"
    class="logout-button"
    (click)="logout()"
  >
    Logout
  </button>
</div>
